.about{
    background: transparent;
}
h3{
    text-align: center;
}
/* .home{
    background-image: url("https://i.pinimg.com/736x/dc/35/fd/dc35fd515ef860bd8da7b0052af84808.jpg");
padding: 50px;
font-size:large;
background-repeat: no-repeat;
width: 100%;
    
} */